.header {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left > * {
  margin-right: 20px;
}
