.botaoComprar {
  padding: 0px;
  margin: 5px;

  background-color: #ab0032;
  color: #fff9fd;
  font-weight: bold;

  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botaoComprar > * {
  margin: 2px;
}
