.formularioDeSessao{
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items:center;
 margin-top: 10vh;
background-color: black;
height:100vh;

}

.lado1{
    margin: 0vh 4vw 0vh 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lado2{
    margin: 0vh 0vw 0vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


