.card {
  background-color: white;
  width: 75%;

  margin: 20px auto;
  padding: 15px;

  border-radius: 10px;
}

.local {
  font-weight: bold;
  font-size: 2rem;
}

.horizontalList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
}

.listItem {
  margin: 5px;
}

.botao {
  margin: 15px;
  padding: 5px;

  border-radius: 5px;
}
