*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #fff;
    border: none;
}

input,label{
    display:block;
    width: 100%;
}

input:focus,label:focus{
    outline: none;
}

a{
    color: brown;
}

body{
    padding-top: 5vh; /* view heigy -> 5% da tela */
    background-image: url('../../assets/cadastro.jpg');
    background-size: cover;
    background-position-y: -150px;
}

logo{
        width: 10px;
}

/* form */

#main-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /* adaptada ao elemento root*/
}

form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 4vh 4vw 4vh 4vw;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 20px;
    font-weight: lighter;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 46%;
}

.spacing {
    margin-right: 3.5%;
}

label{
    font-weight: bold;
    font-size: .9rem;
}
input{
    border-bottom: 1px solid #fff;
    padding: 9px;
    font-size: .9rem;
    margin-bottom: 30px;
}

input:focus{
    border-color: crimson;
}

input[type="submit"]{
    background-color: crimson;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 43px;
    cursor: pointer;
}

#agreement{
    margin-right: 10px;
}

#agreement, #agreement-label{
    display: inline-block;
    width: auto;

}

/* validações */
.error-validation{
    color: #ff1a1a;
    position: absolute;
    top:57px;
    font-size: .8rem;

}

.template{
    display:center;
}

.rodape{

    height: 9vh;
    position:static;
    width:100%;
    bottom: 0;
    margin-top: 30vh;  
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
}

.header{
    display:flex;
    justify-content:space-between;
    padding: 20px;
}
.title{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.header-esquerda{
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size:30px;
    }

.header-direita{
    font-size: 30px;
    display: flex;
    align-items:center;
    justify-content:center;
}
.head-opcoes{
    padding: 10px 10px;
    text-decoration:dashed;
    color: #ffffff;    
}
.head-menuIcon{
    padding: 5px 5px;
}



